In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)

cols = ['id', 'tipodepropiedad', 'gimnasio', 'usosmultiples', 'piscina',
        'escuelascercanas', 'centroscomercialescercanos']

training_raw = pd.read_csv('../../data/TP2/train.csv', usecols = cols)
evaluation_raw = pd.read_csv('../../data/TP2/test.csv', usecols = cols)

training_raw.head()

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos
0,254099,Apartamento,0.0,0.0,0.0,0.0,0.0
1,53461,Casa en condominio,0.0,0.0,0.0,1.0,1.0
2,247984,Casa,0.0,0.0,0.0,0.0,0.0
3,209067,Casa,0.0,0.0,0.0,1.0,1.0
4,185997,Apartamento,0.0,0.0,0.0,0.0,0.0

In [2]:
def float_cast(x):
    if (type(x) == int): return x
    if x: return 1.0
    return 0.0

tipos_apartamento = ['Apartamento', 'Departamento Compartido']
tipos_casa =  ['Casa en condominio', 'Casa', 'Casa uso de suelo', 'Quinta Vacacional']

training_raw['apartamento_con_gimnasio'] = (training_raw['tipodepropiedad'].isin(tipos_apartamento) & training_raw['gimnasio'] == 1).apply(float)
evaluation_raw['apartamento_con_gimnasio'] = (evaluation_raw['tipodepropiedad'].isin(tipos_apartamento) & evaluation_raw['gimnasio'] == 1).apply(float)

training_raw['casa_con_gimnasio'] = (training_raw['tipodepropiedad'].isin(tipos_casa) & training_raw['gimnasio'] == 1).apply(float)
evaluation_raw['casa_con_gimnasio'] = (evaluation_raw['tipodepropiedad'].isin(tipos_casa) & evaluation_raw['gimnasio'] == 1).apply(float)

training_raw.head()

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,apartamento_con_gimnasio,casa_con_gimnasio
0,254099,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,Casa en condominio,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,247984,Casa,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,Casa,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,185997,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
training_raw['apartamento_con_piscina'] = (training_raw['tipodepropiedad'].isin(tipos_apartamento) & training_raw['piscina'] == 1).apply(float)
evaluation_raw['apartamento_con_piscina'] = (evaluation_raw['tipodepropiedad'].isin(tipos_apartamento) & evaluation_raw['piscina'] == 1).apply(float)

training_raw['casa_con_piscina'] = (training_raw['tipodepropiedad'].isin(tipos_casa) & training_raw['piscina'] == 1).apply(float)
evaluation_raw['casa_con_piscina'] = (evaluation_raw['tipodepropiedad'].isin(tipos_casa) & evaluation_raw['piscina'] == 1).apply(float)

training_raw.head()

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,apartamento_con_gimnasio,casa_con_gimnasio,apartamento_con_piscina,casa_con_piscina
0,254099,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,Casa en condominio,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,247984,Casa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,Casa,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,185997,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
training_raw['terreno_comercial_con_cc_cercanos'] = ((training_raw['tipodepropiedad'] == 'Terreno comercial') & (training_raw['centroscomercialescercanos'] == 1)).apply(float)
evaluation_raw['terreno_comercial_con_cc_cercanos'] = ((evaluation_raw['tipodepropiedad'] == 'Terreno comercial') & (evaluation_raw['centroscomercialescercanos'] == 1)).apply(float)

training_raw['terreno_con_cc_cercanos'] = ((training_raw['tipodepropiedad'] == 'Terreno') & (training_raw['centroscomercialescercanos'] == 1)).apply(float)
evaluation_raw['terreno_con_cc_cercanos'] = ((evaluation_raw['tipodepropiedad'] == 'Terreno') & (evaluation_raw['centroscomercialescercanos'] == 1)).apply(float)

training_raw['bodega_comercial_con_cc_cercanos'] = ((training_raw['tipodepropiedad'] == 'Bodega comercial') & (training_raw['centroscomercialescercanos'] == 1)).apply(float)
evaluation_raw['bodega_comercial_con_cc_cercanos'] = ((evaluation_raw['tipodepropiedad'] == 'Bodega comercial') & (evaluation_raw['centroscomercialescercanos'] == 1)).apply(float)

training_raw['oficina_comercial_con_cc_cercanos'] = ((training_raw['tipodepropiedad'] == 'Oficina comercial') & (training_raw['centroscomercialescercanos'] == 1)).apply(float)
evaluation_raw['oficina_comercial_con_cc_cercanos'] = ((evaluation_raw['tipodepropiedad'] == 'Oficina comercial') & (evaluation_raw['centroscomercialescercanos'] == 1)).apply(float)
training_raw.head()

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,apartamento_con_gimnasio,casa_con_gimnasio,apartamento_con_piscina,casa_con_piscina,terreno_comercial_con_cc_cercanos,terreno_con_cc_cercanos,bodega_comercial_con_cc_cercanos,oficina_comercial_con_cc_cercanos
0,254099,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,Casa en condominio,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,247984,Casa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,Casa,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,185997,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
training_raw['terreno_comercial_con_escuelas_cercanas'] = ((training_raw['tipodepropiedad'] == 'Terreno comercial') & (training_raw['escuelascercanas'] == 1)).apply(float)
evaluation_raw['terreno_comercial_con_escuelas_cercanas'] = ((evaluation_raw['tipodepropiedad'] == 'Terreno comercial') & (evaluation_raw['escuelascercanas'] == 1)).apply(float)

training_raw['terreno_con_escuelas_cercanas'] = ((training_raw['tipodepropiedad'] == 'Terreno') & (training_raw['escuelascercanas'] == 1)).apply(float)
evaluation_raw['terreno_con_escuelas_cercanas'] = ((evaluation_raw['tipodepropiedad'] == 'Terreno') & (evaluation_raw['escuelascercanas'] == 1)).apply(float)

training_raw['bodega_comercial_con_escuelas_cercanas'] = ((training_raw['tipodepropiedad'] == 'Bodega comercial') & (training_raw['escuelascercanas'] == 1)).apply(float)
evaluation_raw['bodega_comercial_con_escuelas_cercanas'] = ((evaluation_raw['tipodepropiedad'] == 'Bodega comercial') & (evaluation_raw['escuelascercanas'] == 1)).apply(float)

training_raw['oficina_comercial_con_escuelas_cercanas'] = ((training_raw['tipodepropiedad'] == 'Oficina comercial') & (training_raw['escuelascercanas'] == 1)).apply(float)
evaluation_raw['oficina_comercial_con_escuelas_cercanas'] = ((evaluation_raw['tipodepropiedad'] == 'Oficina comercial') & (evaluation_raw['escuelascercanas'] == 1)).apply(float)

training_raw.head()

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,apartamento_con_gimnasio,casa_con_gimnasio,apartamento_con_piscina,casa_con_piscina,terreno_comercial_con_cc_cercanos,terreno_con_cc_cercanos,bodega_comercial_con_cc_cercanos,oficina_comercial_con_cc_cercanos,terreno_comercial_con_escuelas_cercanas,terreno_con_escuelas_cercanas,bodega_comercial_con_escuelas_cercanas,oficina_comercial_con_escuelas_cercanas
0,254099,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,Casa en condominio,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,247984,Casa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,Casa,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,185997,Apartamento,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
training_data = training_raw.drop(columns = ['tipodepropiedad', 'gimnasio', 'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos'])
evaluation_data = evaluation_raw.drop(columns = ['tipodepropiedad', 'gimnasio', 'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos'])

training_data.to_csv('../../res/ftr/amenities_by_type_train.csv')
evaluation_data.to_csv('../../res/ftr/amenities_by_type_evaluation.csv')

training_data.head()

,id,apartamento_con_gimnasio,casa_con_gimnasio,apartamento_con_piscina,casa_con_piscina,terreno_comercial_con_cc_cercanos,terreno_con_cc_cercanos,bodega_comercial_con_cc_cercanos,oficina_comercial_con_cc_cercanos,terreno_comercial_con_escuelas_cercanas,terreno_con_escuelas_cercanas,bodega_comercial_con_escuelas_cercanas,oficina_comercial_con_escuelas_cercanas
0,254099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,247984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,185997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0