In [1]:
import pandas as pd
import numpy as np
from statistics import mean

pd.set_option('display.max_columns', 30)

types = {'id': int, 'provincia': str}

training_data = pd.read_csv('../../data/TP2/train.csv', dtype = types, usecols=['id', 'tipodepropiedad'])
evaluation_data = pd.read_csv('../../data/TP2/test.csv', dtype = types, usecols=['id', 'tipodepropiedad'])

training_data.head()

       id     tipodepropiedad
0  254099         Apartamento
1   53461  Casa en condominio
2  247984                Casa
3  209067                Casa
4  185997         Apartamento

In [2]:
evaluation_data['tipodepropiedad'] = evaluation_data['tipodepropiedad'].apply(lambda x: str(x))
training_data['tipodepropiedad'] = training_data['tipodepropiedad'].apply(lambda x: str(x))

all_types = ['Apartamento', 'Casa en condominio', 'Casa', 'Terreno',
             'Terreno comercial', 'Local Comercial', 'Quinta Vacacional',
             'Oficina comercial', 'Edificio', 'Casa uso de suelo',
             'Local en centro comercial', 'Bodega comercial', 'Otros', 'Villa',
             'Duplex', 'Inmuebles productivos urbanos',
             'Departamento Compartido', 'Nave industrial', 'Rancho',
             'Terreno industrial', 'nan', 'Huerta', 'Lote', 'Hospedaje',
             'Garage']

for each_type in all_types:
    training_data['type_'+each_type] = training_data['tipodepropiedad'].apply(lambda x: 1 if x == each_type else 0)
    evaluation_data['type_'+each_type] = evaluation_data['tipodepropiedad'].apply(lambda x: 1 if x == each_type else 0)
    
training_data.drop(columns=['tipodepropiedad'], inplace = True)
evaluation_data.drop(columns=['tipodepropiedad'], inplace = True)

training_data.head()

,id,type_Apartamento,type_Casa en condominio,type_Casa,type_Terreno,type_Terreno comercial,type_Local Comercial,type_Quinta Vacacional,type_Oficina comercial,type_Edificio,type_Casa uso de suelo,type_Local en centro comercial,type_Bodega comercial,type_Otros,type_Villa,type_Duplex,type_Inmuebles productivos urbanos,type_Departamento Compartido,type_Nave industrial,type_Rancho,type_Terreno industrial,type_nan,type_Huerta,type_Lote,type_Hospedaje,type_Garage
0,254099,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,53461,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,247984,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,209067,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,185997,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
training_data.to_csv('../../res/ftr/encoded_tipodepropiedad_train.csv')
evaluation_data.to_csv('../../res/ftr/encoded_tipodepropiedad_evaluation.csv')