In [4]:
import pandas as pd
import numpy as np
from statistics import mean

pd.set_option('display.max_columns', 30)

types = {'id': int, 'provincia': str}

training_data = pd.read_csv('../../res/ftr/type_of_agglomeration_train.csv', dtype = types, usecols=['id', 'tipo_de_aglomeracion'])
evaluation_data = pd.read_csv('../../res/ftr/type_of_agglomeration_evaluation.csv', dtype = types, usecols=['id', 'tipo_de_aglomeracion'])

training_data.head()

       id tipo_de_aglomeracion
0  254099           megaciudad
1   53461           megaciudad
2  247984         ciudad_rural
3  209067         ciudad_rural
4  185997         ciudad_rural

In [5]:
evaluation_data['tipo_de_aglomeracion'] = evaluation_data['tipo_de_aglomeracion'].apply(lambda x: str(x))
training_data['tipo_de_aglomeracion'] = training_data['tipo_de_aglomeracion'].apply(lambda x: str(x))

all_types = ['ciudad_mediana', 'ciudad_muy_pequeña', 'ciudad_pequeña', 'megaciudad', 'ciudad_rural']

for each_type in all_types:
    training_data['type_'+each_type] = training_data['tipo_de_aglomeracion'].apply(lambda x: 1 if x == each_type else 0)
    evaluation_data['type_'+each_type] = evaluation_data['tipo_de_aglomeracion'].apply(lambda x: 1 if x == each_type else 0)
    
training_data.drop(columns=['tipo_de_aglomeracion'], inplace = True)
evaluation_data.drop(columns=['tipo_de_aglomeracion'], inplace = True)

training_data.head()

,id,type_ciudad_mediana,type_ciudad_muy_pequeña,type_ciudad_pequeña,type_megaciudad,type_ciudad_rural
0,254099,0,0,0,1,0
1,53461,0,0,0,1,0
2,247984,0,0,0,0,1
3,209067,0,0,0,0,1
4,185997,0,0,0,0,1

In [7]:
training_data.to_csv('../../res/ftr/encoded_type_of_agglomeration_train.csv')
evaluation_data.to_csv('../../res/ftr/encoded_type_of_agglomeration_evaluation.csv')

In [8]:
training_data.shape

(240000, 6)