In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)
types = {'id': int, 'ciudad':str, 'provincia': str}

training_data = pd.read_csv('../../data/TP2/train.csv', dtype = types, usecols=['id','provincia','ciudad'])
evaluation_data = pd.read_csv('../../data/TP2/test.csv',dtype = types, usecols=['id','provincia','ciudad'])

training_data.head()

       id                  ciudad         provincia
0  254099           Benito Juárez  Distrito Federal
1   53461  La Magdalena Contreras  Distrito Federal
2  247984                  Tonalá           Jalisco
3  209067            Zinacantepec    Edo. de México
4  185997                 Zapopan           Jalisco

In [2]:
training_data['ciudad'].fillna('sinciudad', inplace = True)
training_data['provincia'].fillna('sinprovincia', inplace = True)
evaluation_data['ciudad'].fillna('sinciudad', inplace = True)
evaluation_data['provincia'].fillna('sinprovincia', inplace = True)

In [3]:
training_data['provincia'] = training_data['provincia'].apply(lambda x: x.lower())
training_data['ciudad'] = training_data['ciudad'].apply(lambda x: x.lower())
evaluation_data['provincia'] = evaluation_data['provincia'].apply(lambda x: x.lower())
evaluation_data['ciudad'] = evaluation_data['ciudad'].apply(lambda x: x.lower())

In [4]:
capitales_dict = {
                    'aguascalientes' : 'aguascalientes',
                    'baja california norte': 'mexicali',
                    'baja california sur' :'la paz',
                    'campeche' : 'campeche',
                    'coahuila' : 'saltillo',
                    'colima' : 'colima',
                    'chiapas' : 'tuxtla gutiérrez',
                    'chihuahua' : 'chihuahua',
                    'distrito federal' : 'iztapalapa',
                    'durango' : 'durango',
                    'edo. de méxico' : 'toluca',
                    'guanajuato' : 'guanajuato',
                    'guerrero' : 'chilpancingo',
                    'hidalgo' : 'pachuca',
                    'jalisco' : 'guadalajara',
                    'michoacán' : 'morelia',
                    'morelos' : 'cuernavaca',
                    'nayarit' : 'tepic',
                    'nuevo león' : 'monterrey',
                    'oaxaca' : 'oaxaca de juárez',
                    'puebla' : 'puebla',
                    'querétaro' : 'querétaro',
                    'quintana roo' : 'chetumal',
                    'san luis potosí' : 'san luis potosí',
                    'sinaloa' : 'culiacán',
                    'sonora' : 'hermosillo',
                    'tabasco' : 'villahermosa',
                    'tamaulipas' : 'victoria',
                    'tlaxcala' : 'tlaxcala',
                    'veracruz' : 'xalapa',
                    'yucatán' : 'mérida',
                    'zacatecas' : 'zacatecas',
                    'sinprovincia': 'nan'
}

In [5]:
def is_a_capital(data): 
    capital = capitales_dict[data[2]]
    if data[1] == capital: return 1
    return 0

In [6]:
training_data['es_capital'] = training_data.apply(is_a_capital, axis=1)
evaluation_data['es_capital'] = training_data.apply(is_a_capital, axis=1)

In [7]:
training_data.drop(columns=['ciudad','provincia'],inplace=True)
evaluation_data.drop(columns=['ciudad', 'provincia'],inplace=True)

In [8]:
training_data

            id  es_capital
0       254099           0
1        53461           0
2       247984           0
3       209067           0
4       185997           0
...        ...         ...
239995  119879           0
239996  259178           1
239997  131932           0
239998  146867           1
239999  121958           0

[240000 rows x 2 columns]

In [9]:
evaluation_data.to_csv('../../res/ftr/is_a_capital_evaluation.csv')
training_data.to_csv('../../res/ftr/is_a_capital_train.csv')