In [1]:
import pandas as pd
import numpy as np

cols_train = ['id', 'provincia', 'precio']
cols_evaluation = ['id', 'provincia']

types = {'id': int, 'provincia': str, 'precio': float}

training_data = pd.read_csv('../../data/TP2/train.csv', usecols = cols_train, dtype = types)
evaluation_data = pd.read_csv('../../data/TP2/test.csv', usecols = cols_evaluation, dtype = types)

training_data.head()

       id         provincia     precio
0  254099  Distrito Federal  2273000.0
1   53461  Distrito Federal  3600000.0
2  247984           Jalisco  1200000.0
3  209067    Edo. de México   650000.0
4  185997           Jalisco  1150000.0

In [2]:
training_data['provincia'] = training_data['provincia'].apply(lambda x: str(x) )
evaluation_data['provincia'] = evaluation_data['provincia'].apply(lambda x: str(x) )

mean_precios = training_data.groupby('provincia').agg({'precio':'mean'}).reset_index()

precio_mean_by_provincia = {}
for tipo in mean_precios['provincia'].unique():
    precio_mean_by_provincia[tipo] = mean_precios.loc[mean_precios['provincia']==tipo]['precio'].values[0]

precio_mean_by_provincia

{'Aguascalientes': 1477188.769537935,
 'Baja California Norte': 767441.75,
 'Baja California Sur': 1216452.821764706,
 'Campeche': 1570917.8212927757,
 'Chiapas': 1924125.7202486678,
 'Chihuahua': 1744530.6126361657,
 'Coahuila': 1505305.448985115,
 'Colima': 1531380.161706349,
 'Distrito Federal': 3471705.0857288656,
 'Durango': 1210388.9828571428,
 'Edo. de México': 2762464.912490687,
 'Guanajuato': 1866959.4325174824,
 'Guerrero': 2548741.85660941,
 'Hidalgo': 1305550.5351051171,
 'Jalisco': 2367693.5765608815,
 'Michoacán': 1478503.670578713,
 'Morelos': 2290088.0092680934,
 'Nayarit': 1426790.823964497,
 'Nuevo León': 2717757.654724615,
 'Oaxaca': 1575517.8902953586,
 'Puebla': 2298403.6419729395,
 'Querétaro': 2144108.8953378857,
 'Quintana Roo': 2402966.9358704793,
 'San luis Potosí': 1920424.9595122528,
 'Sinaloa': 1634571.6445182725,
 'Sonora': 1483715.8567603747,
 'Tabasco': 2300480.2263581487,
 'Tamaulipas': 1589666.9782891881,
 'Tlaxcala': 1080993.3408820024,
 'Veracruz': 1889788.5216938562,
 'Yucatán': 2036019.839556004,
 'Zacatecas': 1453747.7978723405,
 'nan': 2968021.9870967744}

In [3]:
training_data['mean_precio_encoded_provincia'] = training_data['provincia'].apply(lambda x: precio_mean_by_provincia[x])
evaluation_data['mean_precio_encoded_provincia'] = evaluation_data['provincia'].apply(lambda x: precio_mean_by_provincia[x])

training_data.drop(columns=['provincia', 'precio'], inplace = True)
evaluation_data.drop(columns=['provincia'], inplace = True)

evaluation_data.head()

       id  mean_precio_encoded_provincia
0    4941                   3.471705e+06
1   51775                   2.036020e+06
2  115253                   3.471705e+06
3  299321                   2.548742e+06
4  173570                   2.762465e+06

In [4]:
training_data.to_csv('../../res/ftr/mean_precio_encoded_provincia_train.csv')
evaluation_data.to_csv('../../res/ftr/mean_precio_encoded_provincia_evaluation.csv')