In [1]:
import pandas as pd
import numpy as np

cols_train = ['id', 'tipodepropiedad', 'precio']
cols_evaluation = ['id', 'tipodepropiedad']

types = {'id': int, 'tipodepropiedad': str, 'precio': float}

training_data = pd.read_csv('../../data/TP2/train.csv', usecols = cols_train, dtype = types)
evaluation_data = pd.read_csv('../../data/TP2/test.csv', usecols = cols_evaluation, dtype = types)

training_data.head()

       id     tipodepropiedad     precio
0  254099         Apartamento  2273000.0
1   53461  Casa en condominio  3600000.0
2  247984                Casa  1200000.0
3  209067                Casa   650000.0
4  185997         Apartamento  1150000.0

In [2]:
training_data['tipodepropiedad'] = training_data['tipodepropiedad'].apply(lambda x: str(x) )
evaluation_data['tipodepropiedad'] = evaluation_data['tipodepropiedad'].apply(lambda x: str(x) )

mean_precios = training_data.groupby('tipodepropiedad').agg({'precio':'mean'}).reset_index()

precio_mean_by_tipodepropiedad = {}
for tipo in mean_precios['tipodepropiedad'].unique():
    precio_mean_by_tipodepropiedad[tipo] = mean_precios.loc[mean_precios['tipodepropiedad']==tipo]['precio'].values[0]

precio_mean_by_tipodepropiedad

{'Apartamento': 2763768.662248653,
 'Bodega comercial': 2693757.698435277,
 'Casa': 2398157.709865436,
 'Casa en condominio': 2898927.041819972,
 'Casa uso de suelo': 3732469.22740113,
 'Departamento Compartido': 2560161.8936170214,
 'Duplex': 1271757.973760933,
 'Edificio': 5009499.372492837,
 'Garage': 500000.0,
 'Hospedaje': 3000000.0,
 'Huerta': 3543350.0,
 'Inmuebles productivos urbanos': 3743070.11,
 'Local Comercial': 2365064.1610474633,
 'Local en centro comercial': 2212631.1272727274,
 'Lote': 988760.8,
 'Nave industrial': 3742600.0,
 'Oficina comercial': 3148532.746122918,
 'Otros': 2881688.8582089553,
 'Quinta Vacacional': 3187426.4607594935,
 'Rancho': 4032681.505882353,
 'Terreno': 1805201.8043237808,
 'Terreno comercial': 2472024.5859728507,
 'Terreno industrial': 3647994.4516129033,
 'Villa': 2767351.761764706,
 'nan': 2249819.847826087}

In [3]:
training_data['mean_precio_encoded_tipodepropiedad'] = training_data['tipodepropiedad'].apply(lambda x: precio_mean_by_tipodepropiedad[x])
evaluation_data['mean_precio_encoded_tipodepropiedad'] = evaluation_data['tipodepropiedad'].apply(lambda x: precio_mean_by_tipodepropiedad[x])

training_data.drop(columns=['tipodepropiedad', 'precio'], inplace = True)
evaluation_data.drop(columns=['tipodepropiedad'], inplace = True)

evaluation_data.head()

       id  mean_precio_encoded_tipodepropiedad
0    4941                         2.398158e+06
1   51775                         2.763769e+06
2  115253                         2.763769e+06
3  299321                         2.763769e+06
4  173570                         2.398158e+06

In [4]:
training_data.to_csv('../../res/ftr/mean_precio_encoded_tipodepropiedad_train.csv')
evaluation_data.to_csv('../../res/ftr/mean_precio_encoded_tipodepropiedad_evaluation.csv')