In [1]:
import pandas as pd
import numpy as np
from statistics import mean

training_data = pd.read_csv('../../data/train.csv', usecols=['metroscubiertos', 'metrostotales'])
evaluation_data = pd.read_csv('../../data/test.csv', usecols=['metroscubiertos', 'metrostotales'])

training_data.head()

   metroscubiertos  metrostotales
0             80.0           80.0
1            268.0          180.0
2            144.0          166.0
3             63.0           67.0
4             95.0           95.0

In [2]:
training_data['metroscubiertos_log'] = training_data['metroscubiertos'].apply(lambda x: np.log(x))
evaluation_data['metroscubiertos_log'] = evaluation_data['metroscubiertos'].apply(lambda x: np.log(x))

training_data['metrostotales_log'] = training_data['metrostotales'].apply(lambda x: np.log(x))
evaluation_data['metrostotales_log'] = evaluation_data['metrostotales'].apply(lambda x: np.log(x))

training_data.drop(columns=['metrostotales','metroscubiertos'],inplace=True)
evaluation_data.drop(columns=['metrostotales','metroscubiertos'],inplace=True)

training_data.head()

   metroscubiertos_log  metrostotales_log
0             4.382027           4.382027
1             5.590987           5.192957
2             4.969813           5.111988
3             4.143135           4.204693
4             4.553877           4.553877

In [3]:
training_data.to_csv('../../res/ftr/metros_totales_y_cubiertos_log_train.csv')
evaluation_data.to_csv('../../res/ftr/metros_totales_y_cubiertos_log_evaluation.csv')