In [181]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)
types = {'id': int, 'ciudad':str, 'provincia': str}

training_data = pd.read_csv('../../data/TP2/train.csv', dtype = types, usecols=['id','provincia','ciudad','idzona','metrostotales','precio'])
evaluation_data = pd.read_csv('../../data/TP2/test.csv',dtype = types, usecols=['id','provincia','ciudad','idzona','lat','lng'])

In [182]:
training_data.precio.mean()/training_data.metrostotales.mean()

14317.519170109566

LLENO NULLS EN METROSTOTALES

In [183]:
metros_ciudad = training_data.groupby('ciudad').agg({'metrostotales':'mean'}).reset_index().rename(columns={'metrostotales':'mts_ciudad'})

meanmts=metros_ciudad.mts_ciudad.mean()
metros_ciudad.mts_ciudad.fillna(meanmts,inplace=True)

training_data = pd.merge(training_data,metros_ciudad, on='ciudad', how='right')

In [184]:
training_data.metrostotales.fillna(training_data.mts_ciudad,inplace=True)
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239628 entries, 0 to 239627
Data columns (total 7 columns):
id               239628 non-null int32
ciudad           239628 non-null object
provincia        239628 non-null object
metrostotales    239628 non-null float64
idzona           211379 non-null float64
precio           239628 non-null float64
mts_ciudad       239628 non-null float64
dtypes: float64(4), int32(1), object(2)
memory usage: 13.7+ MB

LLENO NULLS IDZONA y VEO QUE ZONAS TIENEN +5 PROPIEDADES

In [185]:
training_data.idzona.fillna(-1, inplace=True)
props_zone = ((training_data.idzona.value_counts()>5).to_frame().reset_index()).rename(columns={'index':'idzona','idzona':'+5props'})
props_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19720 entries, 0 to 19719
Data columns (total 2 columns):
idzona     19720 non-null float64
+5props    19720 non-null bool
dtypes: bool(1), float64(1)
memory usage: 173.4 KB

In [186]:
training_data.ciudad.fillna('no_city', inplace=True)

SACO PROMEDIO DE PRECIO DEL m2 POR CIUDAD (para las zonas con pocas propiedades)

In [187]:
precio_ciudad = training_data.groupby('ciudad').agg({'precio':'sum','metrostotales':'sum'}).reset_index()
precio_ciudad['precio_mts_ciudad'] = precio_ciudad.precio/precio_ciudad.metrostotales
precio_ciudad.drop(columns={'metrostotales','precio'},inplace=True)
precio_ciudad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 2 columns):
ciudad               875 non-null object
precio_mts_ciudad    875 non-null float64
dtypes: float64(1), object(1)
memory usage: 13.8+ KB

In [188]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239628 entries, 0 to 239627
Data columns (total 7 columns):
id               239628 non-null int32
ciudad           239628 non-null object
provincia        239628 non-null object
metrostotales    239628 non-null float64
idzona           239628 non-null float64
precio           239628 non-null float64
mts_ciudad       239628 non-null float64
dtypes: float64(4), int32(1), object(2)
memory usage: 13.7+ MB

In [189]:
training_data = pd.merge(training_data,props_zone, on='idzona', how='right')
training_data = pd.merge(training_data,precio_ciudad, on= 'ciudad', how='right')
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239628 entries, 0 to 239627
Data columns (total 9 columns):
id                   239628 non-null int32
ciudad               239628 non-null object
provincia            239628 non-null object
metrostotales        239628 non-null float64
idzona               239628 non-null float64
precio               239628 non-null float64
mts_ciudad           239628 non-null float64
+5props              239628 non-null bool
precio_mts_ciudad    239628 non-null float64
dtypes: bool(1), float64(5), int32(1), object(2)
memory usage: 15.8+ MB

In [190]:
training_data.tail(100)

,id,ciudad,provincia,metrostotales,idzona,precio,mts_ciudad,+5props,precio_mts_ciudad
239528,126166,Elota,Sinaloa,195.646962,93794.0,2900000.0,195.646962,False,14822.617065
239529,26760,Ciudad Fernández,San luis Potosí,105.000000,90540.0,2000000.0,105.000000,False,14285.714286
239530,154463,Ciudad Fernández,San luis Potosí,105.000000,90557.0,1000000.0,105.000000,False,14285.714286
239531,289783,General Plutarco Elías Calles,Sonora,300.000000,94948.0,1300000.0,300.000000,False,4333.333333
239532,197575,Huatusco,Veracruz,105.000000,110204.0,1590000.0,105.000000,False,15142.857143
239533,174533,Mascota,Jalisco,231.000000,49746.0,1100000.0,175.500000,False,10000.000000
239534,293265,Mascota,Jalisco,175.500000,49746.0,1390000.0,175.500000,False,10000.000000
239535,225097,Mascota,Jalisco,175.500000,49746.0,4100000.0,175.500000,False,10000.000000
239536,273260,Mascota,Jalisco,120.000000,49746.0,430000.0,175.500000,False,10000.000000
239537,232116,Sabinas Hidalgo,Nuevo León,120.000000,69376.0,2600000.0,120.000000,False,12937.083333
239538,260186,Sabinas Hidalgo,Nuevo León,120.000000,69397.0,504900.0,120.000000,False,12937.083333
239539,200161,Chalchicomula de Sesma,Puebla,300.000000,83023.0,380000.0,300.000000,False,2300.000000
239540,155621,Chalchicomula de Sesma,Puebla,300.000000,83045.0,1000000.0,300.000000,False,2300.000000
239541,1544,Tenango del Aire,Edo. de México,130.000000,59461.0,650000.0,131.000000,False,6539.440204
239542,5159,Tenango del Aire,Edo. de México,63.000000,59456.0,320000.0,131.000000,False,6539.440204
239543,13200,Tenango del Aire,Edo. de México,200.000000,59456.0,1600000.0,131.000000,False,6539.440204
239544,194078,Tlalixcoyan,Veracruz,250.000000,111830.0,3180000.0,250.000000,False,12720.000000
239545,183904,Tolcayuca,Hidalgo,120.000000,46896.0,327000.0,120.000000,False,2725.000000
239546,4294,Xaloztoc,Tlaxcala,244.000000,106247.0,1850000.0,272.000000,False,4044.117647
239547,280857,Xaloztoc,Tlaxcala,300.000000,106247.0,350000.0,272.000000,False,4044.117647
239548,49746,Temax,Yucatán,195.646962,114652.0,1500000.0,195.646962,False,7666.870895
239549,105949,Xicohtzinco,Tlaxcala,88.000000,129669.0,410000.0,88.000000,False,4659.090909
239550,295316,Nanchital de Lázaro Cárdenas del Río,Veracruz,405.000000,113256.0,1650000.0,310.500000,False,3864.734300
239551,126075,Nanchital de Lázaro Cárdenas del Río,Veracruz,216.000000,113244.0,750000.0,310.500000,False,3864.734300
239552,60095,Santa Ana,Sonora,195.646962,95755.0,1800000.0,195.646962,False,9200.245075
239553,169870,Axapusco,Edo. de México,400.000000,58512.0,1725000.0,400.000000,False,4312.500000
239554,104238,San Lucas,Michoacán,195.646962,65422.0,3400000.0,195.646962,False,17378.240696
239555,57670,Ajacuba,Hidalgo,195.646962,41750.0,1800000.0,195.646962,False,9200.245075
239556,64552,Contepec,Michoacán,195.646962,63898.0,8400000.0,195.646962,False,47023.474826
239557,215509,Contepec,Michoacán,195.646962,63940.0,10000000.0,195.646962,False,47023.474826
...,...,...,...,...,...,...,...,...,...
239598,59805,Jalapa,Tabasco,295.000000,126782.0,900000.0,295.000000,False,3050.847458
239599,219866,Amatlán de los Reyes,Veracruz,195.646962,111339.0,2200000.0,195.646962,False,11244.743980
239600,153241,Yaxcabá,Yucatán,20.000000,115298.0,2500000.0,20.000000,False,125000.000000
239601,285078,San Juan Guelavía,Oaxaca,275.000000,76068.0,500000.0,275.000000,False,1818.181818
239602,108715,Copala,Guerrero,195.646962,41167.0,1600000.0,195.646962,False,8177.995622
239603,136207,Batopilas,Chihuahua,120.000000,20470.0,12000000.0,120.000000,False,100000.000000
239604,101266,Acuitzio,Michoacán,195.646962,130414.0,2300000.0,195.646962,False,11755.868706
239605,274249,Atotonilco el Grande,Hidalgo,195.646962,45336.0,3950000.0,195.646962,False,20189.426691
239606,178124,Yaxkukul,Yucatán,310.000000,114439.0,2250000.0,310.000000,False,7258.064516
239607,246328,San Pablo Huitzo,Oaxaca,335.000000,123942.0,1200000.0,335.000000,False,3582.089552
239608,234267,Santa María del Oro,Nayarit,195.646962,68198.0,1680000.0,195.646962,False,8586.895403
239609,277091,Heroica Ciudad de Juchitán de Zaragoza,Oaxaca,439.000000,75618.0,1500000.0,439.000000,False,3416.856492
239610,73396,Panindícuaro,Michoacán,40.000000,60796.0,600000.0,40.000000,False,15000.000000
239611,111073,Ocuilan,Edo. de México,195.646962,55332.0,2500000.0,195.646962,False,12778.118159
239612,57899,Tlaquiltenango,Morelos,223.000000,67119.0,1900000.0,223.000000,False,8520.179372
239613,9145,Altotonga,Veracruz,147.000000,109944.0,450000.0,147.000000,False,3061.224490
239614,192476,Cansahcab,Yucatán,300.000000,114563.0,334000.0,300.000000,False,1113.333333
239615,140466,Ahualulco,San luis Potosí,195.646962,88324.0,1300000.0,195.646962,False,13544.805249
239616,92019,Ahualulco,San luis Potosí,195.646962,88324.0,4000000.0,195.646962,False,13544.805249
239617,16105,ZirAndaro,Guerrero,129.000000,39410.0,1100000.0,129.000000,False,8527.131783
239618,169446,Ocosingo,Chiapas,195.646962,11167.0,1000000.0,195.646962,False,5111.247264
239619,15994,San Pedro,Coahuila,195.646962,123242.0,580000.0,195.646962,False,2964.523413
239620,272168,Gral. Bravo,Nuevo León,72.000000,71828.0,400000.0,72.000000,False,5555.555556
239621,295438,Progreso de Obregón,Hidalgo,180.000000,43456.0,1250000.0,180.000000,False,6944.444444
239622,96502,Bocoyna,Chihuahua,200.000000,19881.0,2200000.0,200.000000,False,11000.000000
239623,237612,El Barrio de la Soledad,Oaxaca,195.646962,75994.0,1000000.0,195.646962,False,5111.247264
239624,224790,Quitupan,Jalisco,195.646962,51632.0,12500000.0,195.646962,False,63890.590796
239625,136535,Cerralvo,Nuevo León,200.000000,69939.0,580000.0,200.000000,False,2900.000000
239626,57022,Sombrerete,Zacatecas,96.000000,116538.0,2700000.0,96.000000,False,28125.000000
239627,192860,San Matías Tlalancaleca,Puebla,250.000000,81631.0,750000.0,250.000000,False,3000.000000

In [191]:
precio_zona = training_data.groupby('idzona').agg({'precio':'sum','metrostotales':'sum','+5props':'median','precio_mts_ciudad':'mean'}).reset_index()
precio_zona.loc[precio_zona['+5props'], 'precio_por_metro'] = precio_zona.precio/precio_zona.metrostotales
precio_zona.loc[~(precio_zona['+5props']), 'precio_por_metro'] = precio_zona.precio_mts_ciudad
precio_zona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19720 entries, 0 to 19719
Data columns (total 6 columns):
idzona               19720 non-null float64
precio               19720 non-null float64
metrostotales        19720 non-null float64
+5props              19720 non-null bool
precio_mts_ciudad    19720 non-null float64
precio_por_metro     19720 non-null float64
dtypes: bool(1), float64(5)
memory usage: 789.6 KB

In [192]:
precio_zona = precio_zona[['idzona','precio_por_metro']]

In [194]:
precio_zona.head()

   idzona  precio_por_metro
0    -1.0      12110.166717
1    22.0      25368.514320
2    23.0       8060.561494
3    26.0       5430.679406
4    27.0       8758.432621

In [195]:
precio_zona.to_csv('../../res/ftr/precio_por_metro_idzona.csv')