In [1]:
import pandas as pd

pd.set_option('display.max_columns', 30)

types = {'id': int, 'descripcion': str}

training_data = pd.read_csv(r'../../data/train.csv', dtype = types, usecols=['id','descripcion'])
evaluation_data = pd.read_csv('../../data/test.csv', dtype = types, usecols=['id','descripcion'])

training_data.head()

       id                                        descripcion
0  254099  depto. interior de 80.15m2, consta de sala com...
1   53461  <p>entre sonora y guerrero, atr&aacute;s del h...
2  247984  descripcion \nla mejor ubicacion residencial e...
3  209067  casa en privada con caseta de vigilancia casas...
4  185997  bonito departamento en excelentes condiciones ...

In [2]:
training_data['descripcion'].fillna("sindescripcion", inplace = True)
evaluation_data['descripcion'].fillna("sindescripcion", inplace = True)

In [3]:
training_data['descripcion'] = training_data['descripcion'].apply(lambda x: x.lower())
evaluation_data['descripcion'] = evaluation_data['descripcion'].apply(lambda x: x.lower())

In [4]:
seguridad_vector = ['seguridad', 'seguro', 'vigilancia', 'segura']
training_data['seguridad'] = training_data['descripcion'].apply(lambda x: 1 if any(word in x for word in seguridad_vector ) else 0)
evaluation_data['seguridad'] = evaluation_data['descripcion'].apply(lambda x: 1 if any(word in x for word in seguridad_vector ) else 0)

In [5]:
training_data.drop(columns=['descripcion'],inplace=True)
evaluation_data.drop(columns=['descripcion'],inplace=True)

In [6]:
training_data.head()

       id  seguridad
0  254099          0
1   53461          0
2  247984          1
3  209067          1
4  185997          0

In [7]:
evaluation_data.to_csv('../../res/ftr/security_words_in_description_evaluation.csv')
training_data.to_csv('../../res/ftr/security_words_in_description_train.csv')