In [30]:
import pandas as pd
import numpy as np
import seaborn as sns

types = {'id': int, 'titulo': str, 'descripcion': str, 'tipodepropiedad': str, 'direccion': str,
        'ciudad': str, 'provincia': str, 'antiguedad': np.float32, 'habitaciones': np.float32,
        'garages':np.float32, 'idzona': np.float32, 'lat': np.float32, 'lng': np.float32,
        'gimnasio': bool, 'usosmultiples': bool, 'piscina': bool, 'escuelascercanas':bool,
        'centroscomercialescercanos':bool, 'precio':int}
data = pd.read_csv('../../data/train.csv', dtype = types)

data.head()

ModuleNotFoundError: No module named 'seaborn'

In [29]:
propiedades_por_tipo = pd.DataFrame()
propiedades_por_tipo['tipodepropiedad'] = data['tipodepropiedad']
propiedades_por_tipo['precio'] = data['precio']
propiedades_por_tipo.head()

      tipodepropiedad   precio
0         Apartamento  2273000
1  Casa en condominio  3600000
2                Casa  1200000
3                Casa   650000
4         Apartamento  1150000

In [ ]:
sb.boxplot()