In [1]:
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.model_selection import train_test_split

TRAIN_PATH = '../../res/ftr/base_data_train.csv'

pd.set_option('display.max_columns', 30)

training_set = pd.read_csv(TRAIN_PATH)

training_set.drop(columns=['Unnamed: 0'], inplace=True)
training_set.head()

,id,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,16.670,0,0,0,0,0,2273000
1,53461,10.0,3.0,2.0,2.0,268.0,180.0,24514.0,15.884,0,0,0,1,1,3600000
2,247984,5.0,3.0,2.0,2.0,144.0,166.0,48551.0,16.725,0,0,0,0,0,1200000
3,209067,1.0,2.0,1.0,1.0,63.0,67.0,53666.0,15.408,0,0,0,1,1,650000
4,185997,10.0,2.0,1.0,1.0,95.0,95.0,47835.0,16.959,0,0,0,0,0,1150000

In [5]:
def load_features(train_df, evaluation_df, features_list):
    for feature in features_list:
        test_ftr = pd.read_csv('../../res/ftr/'+feature+'_train.csv')
        evaluation_ftr = pd.read_csv('../../res/ftr/'+feature+'_evaluation.csv')
    
        train_df = train_df.merge(test_ftr, on='id', how='inner').drop(columns=['Unnamed: 0'])
        evaluation_df = evaluation_df.merge(evaluation_ftr, on='id', how='inner').drop(columns=['Unnamed: 0'])
    
    return (train_df, evaluation_df)

training_set_X = training_set.drop(columns=['precio'])
training_set_Y = training_set['precio']

train_X, test_X, train_Y, test_Y = train_test_split(training_set_X, training_set_Y, test_size = 0.2, shuffle=True)
features_array = ['amenities', 'avenida_in_direction', 'encoded_provincia', 'encoded_tipodepropiedad', 'feature_hashed_ciudad',
                  'mean_precio_encoded_ciudad', 'mean_precio_encoded_provincia', 'mean_precio_encoded_tipodepropiedad',
                  'metros_totales_y_cubiertos_log', 'murder_rate_of_entity','provincia_borders_analysis', 'provincia_economy',
                  'qualificative_adjectives_in_description', 'surface_features']
(train_X, test_X) = load_features(train, test, features_array)

test_X.head()

NameError: name 'train' is not defined

In [ ]:
regressor = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=2000, learning_rate=0.02,
                             gamma=1, subsample=0.75, colsample_bytree=0.5, max_depth=16, min_child_weight=25)

regressor.fit(train_X, train_Y)

In [ ]:
#test = test[list(train_X.columns.values)]

#test_set_prediction = regressor.predict(test)
#
#estimated_prices = pd.DataFrame()
#estimated_prices['id'] = test['id']
#estimated_prices['target'] = test_set_prediction
#
#expected_results = pd.DataFrame()
#expected_results['id'] = test['id']
#expected_results['precio'] = test_precio
#
#estimated_prices.join(test, on='id', how='inner', lsuffix ='_test' )
#estimated_prices['error'] = estimated_prices['target'] - estimated_prices['precio']

test